<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <title>博客首页</title>
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body>
    <div class="blog-wrapper">
        <div class="header">
            <div class="slogan">
                <!--<quote>The lunatic, the <ins>lover<del>poet</del></ins> are of imagination all compact.</quote>-->
                <quote>The lunatic, the lover and the poet are of  <ins>illusion<del>imagination</del></ins>  all compact.</quote>
            </div>
            <div class="i-want-post">
                <div class="inner">
                    <a id="id-post-btn" href="" class="hover-shadow hover-color"><span>我</span><span>要</span><span>投</span><span>稿</span></a>
                </div>
            </div>
        </div>
        <div class="gua-blogs">
            <h5 class="index-notice">发布小文章的地方, 引言出自仲夏夜之梦</h5>

        </div>
    </div>
    <div class="pop-post-window">
        <div class="postbox-close">
            <div class="wrapper">
                <a href="#" class="close-button">
                    <div class="in">
                        <div class="close-button-block"></div>
                        <div class="close-button-block"></div>
                    </div>
                    <div class="out">
                        <div class="close-button-block"></div>
                        <div class="close-button-block"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="blog-new ">
            <div class="postbox-blog-title">
                <label for="">
                    博文标题
                    <input id="id-input-title" type="text" value="">
                </label>
            </div>
            <div class="postbox-blog-author">
                <label for="">
                    博文作者
                    <input id="id-input-author" type="text" value="">
                </label>
            </div>
            <div class="postbox-blog-password ">
                <label for="">
                    主人密码
                    <input id="id-input-mima" type="text"  value="">
                </label>
            </div>
            <div class="postbox-message">
                <label for="">
                    博文内容
                    <textarea id="id-input-content" type="text" value=""></textarea>
                </label>
            </div>
            <div class="submit">
                <button id="id-button-submit">发表新博文</button>
            </div>
        </div>

    </div>



    <script src="js/blog_main.js"></script>
        <script src="js/helper.js"></script>

    </body>
</html>
